# Created by https://www.gitignore.io/api/dotnetcore,visualstudiocode
# Edit at https://www.gitignore.io/?templates=dotnetcore,visualstudiocode

### User Manual Settings ###
appsettings.*.json

# Tye | https://github.com/dotnet/tye/
.tye/*

### DotnetCore ###
# .NET Core build folders
/**/bin
/**/obj
/out

# Common node modules locations
/node_modules
/wwwroot/node_modules


### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/dotnetcore,visualstudiocode